 <!-- Sidenav -->
 <div class="sidenav-collapse-main">
 <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="javascript:void(0)">
        <img src="../assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
<ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Tableau De Bord</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">
              <i class="ni ni-circle-08 text-pink"></i>
              <span class="nav-link-text">Register</span>
            </a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/profil']">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-text">Profil</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/beneficiaires']">
                <i class="ni ni-chart-bar-32 text-primary"></i>
                <span class="nav-link-text">Bénéficiaires</span>
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/micro']">
              <i class="ni ni-money-coins text-green"></i>
              <span class="nav-link-text">Micro-Crédit</span>
            </a>
          </li>
                      
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/encaissement']">
              <i class="ni ni-credit-card text-pink"></i>
              <span class="nav-link-text">Encaissements</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/projets']">
              <i class="ni ni-chart-pie-35 text-primary"></i>
              <span class="nav-link-text">Projets</span>
            </a>
          </li>

         <li class="nav-item">
            <a class="nav-link" [routerLink]="['/apprenants']">
              <i class="ni ni-chart-bar-32 text-danger"></i>
              <span class="nav-link-text">Apprenants</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/formations']">
              <i class="ni ni-hat-3 text-success"></i>
              <span class="nav-link-text">Formations</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/centform']">
                <i class="ni ni-building text-info"></i>
                <span class="nav-link-text">Centres De Formations</span>
              </a>
            </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/clubs']">
                <i class="ni ni-shop text-primary"></i>
                <span class="nav-link-text">Clubs</span>
              </a>
            </li>

        </ul>
        
      </div>
    </div>
  </div>
</nav>
</div>